* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
}
#site_header {
    max-width: 768px;
    margin: auto;
}

#site_header_desk {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}
.dsp_none {
    display: none;
}
nav {
    display: flex;
    align-items: center;
}
nav .col_10 > a {
    text-decoration: none;
    padding: 0 1rem;
    color: var(--rsp-secondary);
}
.container {
    max-width: 768px;
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col_2 {
    width: calc(100% / 12 * 2);
}
.col_4 {
    width: calc(100% / 12 * 4);
}
.col_6 {
    width: calc(100% / 12 * 6);
}
.col_8 {
    width: calc(100% / 12 * 8);
}
.col_10 {
    width: calc(100% / 12 * 10);
}
.col_12 {
    width: 100%;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card > img {
    width: 50%;
}
.card_profile {
    display: flex;
    justify-content: center;
}
.card_profile > img {
   width: 70%;
   height: 130px;
   border-radius: 100px;
   object-fit: cover;
}
.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card_planning {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card_planning > img {
    width: 100%;
}
.btn_ctr {
    display: flex;
    justify-content: center;
}
.card_profile >  .fa-quote-left {
    margin: 0 -2rem;
}


/* #region query*/

@media screen and (min-width: 768px) {

    #site_header {
        max-width: 1200px;
        background-color: var(--rsp-heanvenly);
        width: 100%;
    }
    .container {
        max-width: 1200px;
        padding: 0 1rem;
    }
    .flex_md {
        display: flex;
        
    }
    .jst_md {
        justify-content: center;
    }
    .alg_md {
        align-items: center;
    }
    .row {
        flex-direction: row;
    }
    .row_col_sm {
        display: flex;
        flex-direction: column;
    }
    .col_8_md {
        width: calc(100% / 12 * 8);
    }
    .col_4_md {
        width: calc(100% / 12 * 4);
    }
    .col_6_md {
        width: calc(100% / 12 * 6);
    }
    .card {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .card_profile > img {
        width: 100%;
        height: 130px;
        border-radius: 100px;
        object-fit: cover;
    }
    .skill > p, h3 {
        text-align: start;
        padding: 0 0 0 2rem;
    }

}

@media screen and (min-width: 1200px) {
    
    #site_header {
        background-color: var(--rsp-heanvenly);
        width: 100%;
    }
    .dsp_block {
        display: block;
    }
    .dsp_none_lg {
        display: none;
    }
    .container {
        max-width: 1920px;
    }
    .row {
        flex-direction: row;
    }
    .row_col_sm {
        display: flex;
        flex-direction: column;
    }
    .flex_lg {
        display: flex;
        
    }
    .jst_lg {
        justify-content: center;
    }
    .col_8_md {
        width: calc(100% / 12 * 8);
    }
    .col_4_md {
        width: calc(100% / 12 * 4);
    }
    .col_8_md {
        width: calc(100% / 12 * 8);
    }
}

/* #endregion query*/


/* #region utilities*/

.debug {
    background-color: aquamarine;
    border: 2px dashed purple;
    height: 100px;
}


/* #region color*/

:root {
    --rsp-primary: #9792e4;
    --rsp-secondary: #ffffff;
    --rsp-heanvenly: #0084fd;
    --rsp-light-heanvenly: #b5ddff;
    --rsp-special: #fdc15f;
    --rsp-arrow: ##1a1a20;
    --rsp-footer: #333333;
}

.heaven {
    background-color: var(--rsp-heanvenly);
}
.heaven_light {
    background-color: var(--rsp-light-heanvenly);
}
.primary {
    background-color: var(--rsp-primary);
}
.secondary {
    background-color: var(--rsp-secondary);
}
.arrow{
    color: var(--rsp-arrow); 
}
.foot_clr {
    background-color: var(--rsp-footer)
}
.text_wht {
    color: var(--rsp-secondary);
}
.txt_heaven {
    color: var(--rsp-heanvenly);
}
.txt_primary {
    color: var(--rsp-primary);
}
.txt_spec {
    color: var(--rsp-special);
}

/* #endregion color*/

/* #region space text icon radius bord */

.bord_none {
    border: none;
}
.btn_radius {
    border-radius: 25px;
}
.radius_15 {
    border-radius: 15px;
}
.padd_m1{
    padding: -1rem;
}
.padd_05 {
    padding: 0.5rem;
}
.padd_1 {
    padding: 1rem;
}
.padd_1_0_0 {
    padding: 1rem 0 0;
}
.padd_2_3_0 {
    padding: 2rem 3rem 0;
}
.padd_2_3 {
    padding: 2rem 3rem;
}
.padd_lat{
    padding: 0 1rem;
}
.mrg_neg{
    margin: 0 0 0 -2rem;
}
.mrg_1_0 {
    margin: 1rem 0;
}
 .mrg_2_0_0 {
    margin: 2rem 0 0;
}
.txt_ctr {
    text-align: center;
}
.icon_big {
    font-size: 60px;
}

/* #endregion space text icon radius bord */


/* #region flex */
.jst_ctr {
    justify-content: center;
}

.jst_end{
    display: flex;
    justify-content: end;
}
.align_itm {
    align-items: center;
}

/* #endregion flex */



/* #endregion utilities */